@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --bgColor: #1e1e1e;
    --colorLogo: #662d91;
    --colorFuente: #f1b7ff;
    --colorFuente2: white;
}

h2{
    color: var(--colorFuente);
}

section{
    width: fit-content;
    margin: auto;
}

section label{
    color: var(--colorFuente2);
}

section input{
    width: 100%;
    padding: .7vh;
    border: none;
    border-radius: .4vh;
    margin-top: .6vh;
}

section #submit{
    width: 5rem;
    font-size: 2.4vh;
    background-color: #1e1e1e;
    border: none;
    color: var(--colorFuente2);
}

section textarea{
    width: 100%;
}

section #submit:hover{
    background-color: #333333;
    transition: 0.4s;
    transform: scale(1.04);
}