@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --bgColor: #1e1e1e;
    --colorLogo: #662d91;
    --colorFuente: #f1b7ff;
    --colorFuente2: white;
}

.container-cover{
    width: 100%;
    position: relative;
    margin-top: 80px;
    background-image: url(/img/gabinetes/gabineteIndex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(18, 103, 231, 0.329);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/*Seccion del cover finalizada*/

.textos{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4vh;
}

.textos .titulo1{
    width: 60%;
    grid-column: 1/3;
    grid-row: 1;
}

.textos .titulo1 h1{
    font-size: 180%;
    font-weight: 550;
    color: var(--colorFuente);
}

.textos .titulo1 p{
    width: 90%;
    color: var(--colorFuente);
}


.textos .titulo2{
    width: 120%;
    grid-column: 3/3;
    grid-row: 1;
}

.textos .titulo2 h1{
    font-weight: 550;
    font-size: 180%;
    color: var(--colorFuente);
}

.textos .titulo2 p{
    width: 90%;
    color: var(--colorFuente);
}

.proyectos-text{
    display: grid;
    margin: auto;
    color: var(--colorFuente);
}

.proyectos-text p{
    font-size: 180%;
    font-weight: 600;
    margin: auto;
    padding-bottom: 2vh;
}

.img-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 90%;
  }
  
  .descripcion{
    margin: auto;
    padding-bottom: 1rem;
    width: fit-content;
    text-align: justify;
  }
  
  .descripcion h2{
    color: var(--colorFuente);
  }

  .descripcion p{
    color: var(--colorFuente);
    width: 80%;
  }

  .gabi {
    max-width: 100%;
    height: 20rem;
  }
  
  @media screen and (max-width: 600px) {
    
    .img-text{
        width: fit-content;
        margin: auto;
    }
    
    .img-text img{
        height: 16rem;
    }

    .descripcion {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .descripcion h2{
        margin: auto;
        text-align: center;
      }

    .descripcion p{
        margin: auto;
      }
  }
  
/*Footer - pie de pagina*/
.container-footer{
    width: 100%;
    padding: 20px 0;
    /*background: #fff;*/
}

.container-footer footer{
    max-width: 100%;
    margin: auto;
}

.container-footer h4{
    text-align: center;
    font-size: medium;
    color: #8e8e8e;
    font-weight: 500;
}

.container-footer hr{
    color: #8e8e8e;
    /*background: #fff;*/
}

/*Mobile*/

@media screen and (max-width: 800px){
    .img-text{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 580px){
    .textos{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
  
    .textos{
        display: inline;
        width: 60%;
        text-align: center;
    }

    .textos .titulo1{
        width: 80%;
        margin: auto;
    }

    .textos .titulo1 p{
        margin: auto;
        margin-bottom: 1.5rem;
    }

    .textos .titulo2{
        width: 60%;
        margin: auto;
    }

    .textos .titulo2 p{
        margin: auto;
    }

    /*Container*/
    
    .img-text{
        display: inline;
    }

    .img-text img{
        width: fit-content;
    }
}