@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --bgColor: #1e1e1e;
    --colorLogo: #662d91;
    --colorFuente: #f1b7ff;
    --colorFuente2: white;
}

.container-cover{
    width: 100%;
    position: relative;
    margin-top: 80px;
    background-image: url(/img/gabinetes/gabineteIndex.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(18, 103, 231, 0.329);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/*Seccion del cover finalizada*/

.textos{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4vh;
}

.textos .titulo1{
    width: 60%;
    grid-column: 1/3;
    grid-row: 1;
}

.textos .titulo1 h1{
    font-size: 180%;
    font-weight: 550;
    color: var(--colorFuente);
}

.textos .titulo1 p{
    width: 90%;
    color: var(--colorFuente);
}


.textos .titulo2{
    width: 120%;
    grid-column: 3/3;
    grid-row: 1;
}

.textos .titulo2 h1{
    font-weight: 550;
    font-size: 180%;
    color: var(--colorFuente);
}

.textos .titulo2 p{
    width: 90%;
    color: var(--colorFuente);
}

.proyectos-text{
    display: grid;
    margin: auto;
    color: var(--colorFuente);
}

.proyectos-text p{
    font-size: 180%;
    font-weight: 600;
    margin: auto;
    padding-bottom: 2vh;
}


.img-text{
    height: 70em;
}

.innovador{
    width: 80%;
    margin: auto;
    height: 16em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.innovador img{
    height: 20em;
    align-self: center;
}

.innovador h2{
    color: var(--colorFuente);
    padding-top: 3em;
}

.innovador p{
    color: var(--colorFuente);
    text-align: justify;
}

.asequible{
    width: 80%;
    margin: auto;
    height: 16em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 6em;
}

.asequible img{
    padding-left: 4em;
    height: 20em;
}

.asequible h2{
    padding-top: 3em;
    color: var(--colorFuente);
}

.asequible p{
    color: var(--colorFuente);
    text-align: justify;
}

.calidad-precio{
    padding-top: 6em;
    width: 80%;
    margin: auto;
    height: 16em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.calidad-precio img{
    height: 20em;
    align-self: center;
}

.calidad-precio h2{
    color: var(--colorFuente);
    padding-top: 3em;
}

.calidad-precio p{
    color: var(--colorFuente);
    text-align: justify;
}

/*Footer - pie de pagina*/
.container-footer{
    width: 100%;
    padding: 20px 0;
    /*background: #fff;*/
}

.container-footer footer{
    max-width: 100%;
    margin: auto;
}

.container-footer h4{
    text-align: center;
    font-size: medium;
    color: #8e8e8e;
    font-weight: 500;
}

.container-footer hr{
    color: #8e8e8e;
    /*background: #fff;*/
}


/*BURGER*/

@media screen and (max-width: 1160px){
    /*Tarjetas*/
    .tarjetas{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 90%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 1050px){
    /*Tarjetas*/
    .tarjetas{
        width: 65%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 90%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 1010px){
    /*Tarjetas*/
    .tarjetas{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 90%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 900px){
    /*Tarjetas*/
    .tarjetas{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 90%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 872px){
    /*Tarjetas*/
    .tarjetas{
        width: 65%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 720px){
    /*Tarjetas*/
    .tarjetas{
        width: 75%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 720px){
    /*Tarjetas*/
    .tarjetas{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

/*Mobile*/

@media screen and (max-width: 580px){
    /*Tarjetas*/
    .tarjetas{
        width: 55%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
    .textos{
        width: 90;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 4vh;
    }

    .textos .titulo1{
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .textos .titulo1 p{
        margin: auto;
    }

    .textos .titulo2{
        width: 100%;
        text-align: center;
        margin-top: 4vh;
        display: inline-block;
    }
    
    .textos .titulo2 p{
        margin: auto;
    }

    .proyectos-text{
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    /*Tarjetas*/
    .tarjetas{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 450px){
    /*Tarjetas*/
    .tarjetas{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}

@media screen and (max-width: 400px){
    /*Tarjetas*/
    .tarjetas{
        width: 76%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-items: center;
    }

    .tarjetas .tarjeta{
        width: 80%;
        height: 90%;
        padding: 6%;
        margin-bottom: 3vh;
        background-color: #ffff;
        border-radius: 1vh;
    }
    
}